<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%=siteName %></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		
		
		<!-- EMBED THIS TO HEAD, use jquery from here if you need -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://local.sincemonday.net:3000/js/jsDate.js"></script>
		<script type="text/javascript" src="http://local.sincemonday.net:3000/js/timer-show.js"></script>
		
		
		
		
	</head>
<body> 
<div class="container-fluid static-index">



	<!-- EMBED THIS TO PLACE TIMER, 55 is timer id -->
	<div class="sincemonday-timer" data-id="55"></div>
	
	
	

</body>
</html>