	<div class="push"></div>
</div>
<div id="footer" class="container-fluid">
	<div class="row-fluid">
		<div class="span12"><center>
			<hr>
			<p><%= siteName %> build <%= softwareBuild %>.</p>
		</center></div>
	</div>
</div>

</body>
</html>